.payment-form-slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    animation: slideIn 0.5s forwards;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  @keyframes slideIn {
    to {
      transform: translateX(0);
    }
  }
  