.landing{
    background-image: url('../images/bg/cust-nav-sider-card.jpg') !important;
    background-size: cover; /* Cover the entire element with the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-position: center;
}

.product-detail{
  background-image: url('../images/bg/wishlist.jpg') !important;
  background-size: cover; /* Cover the entire element with the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-position: center;
}

.pointer-cursor {
  cursor: pointer;
}

/* authentican pages*/

.auth-form-container{
    margin-top:6.25rem;
    margin-bottom: 10.3125rem;
    /* background-image: url('../images/intecomBG.png'); */
    background-size: cover;
    
}

/*animation on system name*/ 

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(-10px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(-10px); }
  to { opacity: 1; transform: translateX(0); }
}

.text-animation {
  white-space: nowrap; /* Prevent line break between characters */
  overflow: hidden; /* Hide overflow */
}

.text-animation span {
  display: inline-block;
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--char-index)); /* Delay each character */
  animation-iteration-count: infinite; /* Infinite loop */
  animation-duration: 5s; /* Set the duration of each animation loop */
}

.text-animation span:nth-child(1) { animation-delay: 0.2s; }
.text-animation span:nth-child(2) { animation-delay: 0.3s; }
.text-animation span:nth-child(3) { animation-delay: 0.4s; }
.text-animation span:nth-child(4) { animation-delay: 0.5s; }
.text-animation span:nth-child(5) { animation-delay: 0.6s; }
.text-animation span:nth-child(6) { animation-delay: 0.7s; }
.text-animation span:nth-child(7) { animation-delay: 0.8s; }



.image-column {
  position: relative;
}

.background-image {
  /* background-image: url('../images/ecom.png');  */
  background-size: cover ; 
  background-position: center;
  width: 115%;
  height: 90%;
}


.form-card{
    margin-top: 2.8125rem;
    margin-left: 13.6875rem;
    margin-right: 23.6875rem;
    margin-bottom: 10.3125rem;
    width: 38rem;
    height: 26.25rem;
}

.text-styles{
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  color: #868E96;
}

.heading-styles{
  font-size: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  color: #007BFF;
}

.input-field {
  color:#212529;
}


/* CustomDropdown.css */

.custom-dropdown-toggle {
  border: none;
  background: none;
  padding: 0;
  color: inherit; /* Inherit text color from parent */
  font-weight: inherit; /* Inherit font weight from parent */

  /* Hide the arrow icon */
  &::after {
      display: none !important;
  }
}


/* nav bar */

.navbar-heading {
  font-size: 23px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  color: #343A40;
}

.navbar-tagline{
  font-size: 17px;
  font-weight: 450;
  font-style: italic;
  color: #d31919;
}

.summary-element-container > * {
  background-image: url('../images/bg/product-card.jpg');
}

/* product card */

.product-card:hover {
  transform: translateY(-9px); /* Move the card up on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow on hover */
}

.product-card:hover .product-card-body {
  background-color: rgb(73, 37, 139);
  /* background-color: #bdf0fc; */
  /* background-color: #813eec; */
}

.product-card {
  width:17rem;
  height: 100%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-image: url('../images/bg/product-card.jpg') !important
}

.placeholder-product-card {
  width:17rem;
  height: 100%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-card-img{
  width: 100%;
  height: 250px;
  object-fit: fit;
  /* border: 1px solid grey;
  border-radius: 1px; */
}

.table-product-img{
  height: 29.695px;
  width: 29.695px;
}

/* cart page */

.cart-heading{
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    color: #007BFF;
    padding-top: 6px;
}


.heading-container{
    margin-bottom: 1.2rem;
}

/* Custom CSS */
.rounded-table {
  border-radius: 12px; /* Adjust the value to change the radius of rounded corners */
  overflow: hidden; /* Ensure content inside the table doesn't overflow rounded corners */
}

/* .custom-table {
  border-collapse: separate;
  border-spacing: 0 4px;
} */

/* .custom-table tbody tr {
  border-top: 1px solid #363636;
}

.custom-table tbody tr:first-of-type {
  border-top: none;
} */

  .table tbody tr {
    border-bottom: 1px solid #e4e1e1;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #495057;
  }
  .header-cell {
    /* background-color: #E9ECEF !important; */
    background-color: #483f55 !important;
    /* font-weight: 500;
    font-size: "16px";
    font-family: "Inter";
    color:#212529; */
  }

  .nav-sider-card{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    background-image: url('../images/bg/cust-nav-sider-card.jpg');
    /* background-image: url('https://img.freepik.com/free-vector/geometric-shapes-neon-lights-background_23-2148435097.jpg?w=740&t=st=1714133857~exp=1714134457~hmac=8dcae31849d3e6de1c2d488ba08bd266ea224c40a7a7444b5329141b6a0cdb40') !important; */
  }
  
  .total-container  {
    margin-top: 1%;
  }
  .total-container > div{
    display: flex ;
    justify-content: end;
  }
  .total-container p {
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    margin-right: 0.75rem;
  }
  .custom-button {
    width: 16%;
  }

  .full-screen-modal {
    height: 100vh;
    max-width: 75%;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }
  
  .full-screen-modal.show {
    transform: translateX(2);
  }
  
  .order-summary-element{
    width: 30%;
  }
  .order-summary-element p {
    color:#5A5F7D;
    font-size: 12.8px;
    font-weight: 400px;
    font-family: Inter;
  }



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
